[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
is-safe-url = "*"
psycopg2 = "*"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
