body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
  background-color: #323f43;
  height: 35px;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 5px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

div.home {
  padding: 10px 10px 30px 10px;
  background-color: #E6E6FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  /* -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px; */
}

div.home .welcome-text {
    display: flex;
    text-align: center;
    line-height: 150%;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  /* -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px; */
}

div.draft {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flash-messages {
    margin: 0 auto;
    align-items: center;
    width: 1200px;
}

.flashes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.error {
    font-size: 18px;
    margin: 0 0 20px;
    color: red;
}

.commander-return {
    font-size: 24px;
    margin: 20px 0;
}

.user-return {
    font-size: 18px;
    margin: 10px 0;
    color: red;
}

.reg-return {
    font-size: 18px;
    margin: 10px 0;
    color: red;
}

h2 {
  font-size: 18px;
  letter-spacing: -1px;
}

h3 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: -1px;
  color: #5c6b70;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: black;
  text-decoration: none;
}

form {
    display: flex;
}

form input[type="text"] {
    margin: 10px 0 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

form input[type="submit"] {
    margin: 10px 5px 10px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 14px;
}

label {
    margin-right: 20px;
    display: inline-block;
    width: 180px;
    text-align: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-registration {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
  background-color: #323f43;
  width: 100%;
  padding: 10px 0 0 0;
  margin: 50px 0 0 0;
  border-top: 4px solid black;
  height: 100px;
}

footer .footer-container {
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    letter-spacing: -1px;
    color: #5c6b70;
}

footer .footer-container .footer-one {
    font-size: 18px;
    letter-spacing: -1px;
    max-height: 20px;
}

footer .footer-container .footer-two {
    max-height: 20px;
}