<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Season 2 Teams</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="challenges" style="width: 1200px;">
            <button id="roll" type="submit">Roll Challenges</button>
            {% if challenge_dict %}
                <p class="challenge-text">Number of challenges: {{ challenge_dict['num'] }}</p>
                {% for challenge in challenge_dict['challenges'] %}
                    <p class="challenge-text">Challenge #{{ loop.index }}: {{ challenge }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>