<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of the Fluffy Bunny League</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        window.onload = function() {
        comms();
        function comms(){
            var commanders = {{ commanders|tojson }}
            var html = ''
            for ([index, element] of commanders.entries()) {
                index = index + 1
                if (index % 8 == 1) {
                    html += '<tr class="comm-table-row">\n<td class="comm-table-col"><a href="' + element.link + '" target="_blank"><img src="' + element.image + '" class="comm-image"></a></td>\n'
                } else if (index % 8 == 0) {
                    html += '<td class="comm-table-col"><a href="' + element.link + '" target="_blank"><img src="' + element.image + '" class="comm-image"></a></td>\n</tr>\n'
                } else {
                    html += '<td class="comm-table-col"><a href="' + element.link + '" target="_blank"><img src="' + element.image + '" class="comm-image"></a></td>\n'
                }
            }
            document.getElementById('commanders-table').innerHTML = html;
        };
        }
    </script>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="commanders" style="width: 1200px;">
            <table id="commanders-table">
            </table>
        </div>
    {% endblock %}
</body>
</html>