<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of the Fluffy Bunny League</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="home">
            <h1>Welcome Planeswalker!</h1>
            <p class="welcome-text">Use the menu in the top right to navigate around the site. <br> To draft your commander, select the "Draft"
            menu option. <br> To view all available commanders, select the "Commanders" menu option. <br> Otherwise, there is
            literally no other reason to be on this site right now.</p>
        </div>
    {% endblock %}
</body>
</html>