<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Home of the Fluffy Bunny Clan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Fluffy Bunny League</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">League Overview</a></li>
						<li><a href="elements.html">Admin</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>EDH League Season 2</h2>
				<p>Check below to learn more about us or click for<br /> a league overview and the current standings.</p>
				<ul class="actions">
					<li><a href="generic.html" class="button special big">League Stats</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Who are we?</h2>
									<p>In short, a random group of nerdy friends</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>We are an ever expanding group of nerds who play a variety of games. This particular portion of the group loves playing Magic: the Gathering, and specifically the Commander variant, so we decided to do something cool with it. We created an online EDH League played via <a href="https://www.cockatrice.us/">Cockatrice</a> utilizing themed games with budget limits and an in-house scoring system.</p>
								<p>This site in particular came about to help us manage the league (and to help the site creator practice his python web development skills). Previously we were manually and messily managing everything inside a combination of google docs and google sheets and things like random drafts weren't able to be kept a secret, so I built this site to host various tools for us to use. </p>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>What is EDH?</h2>
							<p>Check out these links to learn more about the Commander format or some of our favorite content creators:</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded">
									<a href="https://www.youtube.com/channel/UCLsiaNUb42gRAP7ewbJ0ecQ" target="_blank">
										<img src="https://yt3.ggpht.com/ytc/AAUvwnjrGtwbF8ZxMu2MFwERSTk9qGGKFR1WollIcVtT=s900-c-k-c0x00ffffff-no-rj" alt="" />
									</a>
								</div>
								<div class="content">
									<header>
										<h4>
											<a href="https://www.youtube.com/channel/UCLsiaNUb42gRAP7ewbJ0ecQ" target="_blank">
												The Command Zone
											</a>
										</h4>
										<p>Type: Gameplay and Meta</p>
									</header>
									<p>The Command Zone podcast is a podcast/YouTube channel hosted by Jimmy Wong and Josh Lee Kwai. Great source of info about the game of Commander and new card sets, as well as actual gameplay episodes to see in action.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded">
									<a href="https://www.youtube.com/c/TheCommandersQuarters/" target="_blank">
										<img src="https://pbs.twimg.com/profile_images/1009801714021486592/UE6ol0MB_400x400.jpg" alt="" />
									</a>
								</div>
								<div class="content">
									<header>
										<h4>
											<a href="https://www.youtube.com/c/TheCommandersQuarters/" target="_blank">
												The Commander's Quarters
											</a>
										</h4>
										<p>Type: Meta and budget deck building</p>
									</header>
									<p>A YouTube channel hosted by Mitch, many episodes dedicated to building focused decks on a budget. Mitch is expanding into gameplay episodes and is one of the fastest growing Commander channels around.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded">
									<a href="https://www.youtube.com/channel/UC7-hR5EfgpM6oHfiGDkxfMA" target="_blank">
										<img src="https://yt3.ggpht.com/a-/AN66SAzjnyiN6bLFYIDj86y14-kLHG9OWBZU-6ipnw=s240-mo-c-c0xffffffff-rj-k-no" alt="" />
									</a>
								</div>
								<div class="content">
									<header>
										<h4>
											<a href="https://www.youtube.com/channel/UC7-hR5EfgpM6oHfiGDkxfMA" target="_blank">
												Tolarian Community College
											</a>
										</h4>
										<p>Type: Meta and Product Reviews</p>
									</header>
									<p>Hosted by The Professor, TCC provides an in-depth look at everything Magic: the Gathering and Commander. The Prof provides quality reviews of all types of Magic products (sleeves, deckboxes, etc.), always unsponsored to prevent bias. </p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded">
									<a href="https://mtg.gamepedia.com/Commander_(format)" target="_blank">
										<img src="https://images.wikia.com/mtgsalvation_gamepedia/images/b/bc/Wiki.png" alt="" />
									</a>
								</div>
								<div class="content">
									<header>
										<h4>
											<a href="https://mtg.gamepedia.com/Commander_(format)" target="_blank">
												MtG Gamepedia Wiki
											</a>
										</h4>
										<p>Type: Wiki of all things Commander</p>
									</header>
									<p>While this isn't the "official" Wiki of Commander, it is pretty close. MTG Gamepedia has tons of great info about Magic in general as well as specific information about the Commander format and the rules differences.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>More Questions? Contact Us!</h2>
							<p>This does nothing. Sorry. Just for show.</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>Site by: MHuey</li>
						<li>Design Template: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>