<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
        $('.flash-messages').fadeOut(3500);
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Fluffy Bunny League</h1>
            <strong><nav>
                <ul class="menu">
                    <li><a class="menu-item" href=" {{ url_for('home') }}">Home</a></li>
                    <li><div class="dropdown">
                        <a class="dropdown-btn">About<i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href=" {{ url_for('about') }}">About</a>
                            <a href=" {{ url_for('rules') }}">Rules</a>
                        </div></li>
                    <li><a class="menu-item" href=" {{ url_for('commanders') }}">Commanders</a></li>
                    <li><a class="menu-item" href=" {{ url_for('draft') }}">Draft</a></li>
                    <li>{% if current_user.has_role('admin')
                            or current_user.has_role('commissioner')
                            or current_user.has_role('scorekeeper') %}
                        <div class="dropdown">
                            <a class="dropdown-btn">Admin<i class="fa fa-caret-down"></i></a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('log_game') }}">Log Game</a>
                                <a href="{{ url_for('log_decks') }}">Log Deck</a>
                                {% if current_user.has_role('admin') or current_user.has_role('commissioner') %}
                                <a href="{{ url_for('season_admin') }}">Season Admin</a>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <a href=" {{url_for('log_decks') }}">Log Deck</a>
                        {% endif %}
                    </li>
                    <li>{% if current_user.is_anonymous %}
                        <a href="{{ url_for_security('login') }}" class="menu-item">Login</a>
                        {% else %}
                        <a href="{{ url_for_security('logout') }}" class="menu-item">Logout</a>
                        {% endif %}</li>

                </ul>
            </nav></strong>
        </div>
    </header>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(category_filter=["warning"]) %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(category_filter=["danger"]) %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {% block body %}{% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="footer-container">
            <a class="footer-one">A Python tool</a>
            <a class="footer-two">Built by Michael Huey for the FBC</a>
        </div>
    </footer>
</body>
</html>